<%- include('partials/_header') %>

<div class="contenedor">
    <div class="sidebar">
        
    </div>

    
    <div class="main">
        
        <div class="content-container">
            <% if (typeof error !== 'undefined' && error) { %>
                <div class="alert alert-danger mb-3" role="alert">
                    <%= error %>
                </div>
              <% } else { %>
                <div class="card preg_box">
                    <br>
                    <h3 class="card-title card-titulo"><%= preguntas.titulo %></h3>
                    <hr>
                    <div class="card-body">
                      <p class="card-text"><%= preguntas.descripcion %></p>
                      
                    </div>
                    <% if(preguntas.imagen != null){ %>
                        <hr>
                        <div class="imagen_atb">
                            <img src="data:image/png;base64,<%= preguntas.imagen %>" style="width: 100%; max-width: 700px;" alt="">
                        <br>
                        <div class="mb-3"></div>
                        </div>
                    <% } %>
                    <hr>    
                    <div class="card-body">
                        <div class="tagsynombrecontainer">
                            <div>
                              <% preguntas.etiquetas.forEach(function(etiqueta){ %>
                                <span class="badge bg-secondary"><%= etiqueta %></span>
                              <% }); %>
                            </div>
                            <div>
                              <span class="usernamelink"><img class="user_img" src="/user_icon.png"><%= preguntas.correo %></span>
                            </div>
                          </div>
                    </div>
                    
                  </div>
                  <br> 
                  <div class="preg_box">
                    <form method="POST" action="/preguntas/<%= preguntas.id %>/responder" enctype="multipart/form-data">
    
                        <div class="form-group mb-3">
                            <label for="respuesta">Realiza tu respuesta</label>
                            <textarea class="form-control" name="respuesta" rows="3" required minlength="3" maxlength="2000"></textarea>
                        </div>
                        
                        <div class="mb-3">
                            <label for="imagen" class="form-label">Imagen</label>
                            <% if(locals.correo) { %>
                                <input type="file" class="form-control" name="imagen">
                            <% } else { %>
                                <input type="file" class="form-control" name="imagen" disabled>    
                            <% } %>
                        </div>
        
                        <button type="submit" class="btn btn-primary">Submit</button>
        
                        <% if(typeof error !== 'undefined' && error) { %>
                            <div class="alert alert-danger mt-3" role="alert">
                                <%= error %>
                            </div>
                        <% } %>
                        <hr>
                    </form>
                  </div>
                <div class="respuestas-container">
                    <h5>Respuestas de usuarios:</h5>
                    <br>
                    <% respuestas.forEach(function(respuesta){ %>
        
                        <div class="card mb-3 preg_box">
                            <div class="card-header">
                                <i class="fa-solid fa-user"></i> <%= respuesta.correo %>
                            </div>
                            <div class="card-body">
                                <p class="card-text"><%= respuesta.descripcion %></p>
                                
                                <div class="imagen_atb">
                                    <% if(respuesta.imagen != null){ %>
                                        <img src="data:image/png;base64,<%= respuesta.imagen %>" style="width: 100%; max-width: 700px;" alt="">
                                        <br>
                                        <div class="mb-3"></div>
                                    <% } %>
                                </div>
                              
                            
                                <div class="container-like-y-dislike">
                                    <form method="POST" action="/preguntas/respuesta/like">
                                        <button class="like <% if(respuesta.has_dado_like){ %>like--activo<% } %>">   
                                            <i class="fas fa-thumbs-up"></i>
                                        </button>
    
                                        <span><%= respuesta.likes %></span>
                                        
                                        <input type="hidden" name="correo" value="<%= locals.correo %>" />
                                        <input type="hidden" name="idRespuesta" value="<%= respuesta.id %>" />
                                    </form>

                                    <form method="POST" action="/preguntas/respuesta/dislike">
                                        <button class="dislike <% if(respuesta.has_dado_dislike){ %>dislike--activo<% } %>">   
                                            <i class="fas fa-thumbs-down"></i>
                                        </button>
                                        <span><%= respuesta.dislikes %></span>
                                        
                                        <input type="hidden" name="correo" value="<%= locals.correo %>" />
                                        <input type="hidden" name="idRespuesta" value="<%= respuesta.id %>" />
                                    </form>
                                </div>

                                <button id="boton-responder-respuesta-<%= respuesta.id %>" onClick="hacerAlgo(<%= respuesta.id %>)" class="btn btn-outline-secondary">Responder</button>
                               
                                <div class="d-none" id="form-responder-respuesta-<%= respuesta.id %>">
                                    <form method="POST" action="/preguntas/<%= preguntas.id %>/responder-respuesta/<%= respuesta.id %>">
        
                                        <div class="form-group mb-3">
                                            <textarea class="form-control" name="respuesta" rows="3"></textarea>
                                        </div>
                        
                                        <button type="submit" class="btn btn-primary">Submit</button>
            
                                    </form>
                                </div>
        
                                <% if(respuesta.respuestasARespuesta.length > 0){ %>
                                    <div class="mt-3">
                                        <% respuesta.respuestasARespuesta.forEach(function(respuestaARespuesta){ %>
            
                                            <div class="card mb-3">
                                                <div class="card-header">
                                                    <i class="fa-solid fa-user"></i> <%= respuestaARespuesta.correo %>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text"><%= respuestaARespuesta.descripcion %></p>
                                                </div>
                                                <div class="container-boton-responder-y-likes-y-dislikes">                                                
                                                    <div class="container-like-y-dislike">
                                                        <form method="POST" action="/preguntas/aclaracion/like">
                                                            <button class="like <% if(respuestaARespuesta.has_dado_like){ %>like--activo<% } %>">   
                                                                <i class="fas fa-thumbs-up"></i>
                                                            </button>
                        
                                                            <span><%= respuestaARespuesta.likes %></span>
                                                            
                                                            <input type="hidden" name="correo" value="<%= locals.correo %>" />
                                                            <input type="hidden" name="idAclaracion" value="<%= respuestaARespuesta.id %>" />
                                                        </form>
                
                                                        <form method="POST" action="/preguntas/aclaracion/dislike">
                                                            <button class="dislike <% if(respuestaARespuesta.has_dado_dislike){ %>dislike--activo<% } %>">   
                                                                <i class="fas fa-thumbs-down"></i>
                                                            </button>
                                                            <span><%= respuestaARespuesta.dislikes %></span>
                                                            
                                                            <input type="hidden" name="correo" value="<%= locals.correo %>" />
                                                            <input type="hidden" name="idAclaracion" value="<%= respuestaARespuesta.id %>" />
                                                        </form>
                                                    </div>
                                                    
                                                </div>
                                           
                                            </div>
                                        
                                        <% }); %>
                                    </div>
                                <% } %>
                              
                            </div>
                        </div>
                        
                    <% }); %>
        
                </div> 
              <% } %>  
        </div>
    </div>
</div>
<script>
    
    let formsResponder = document.querySelectorAll('[id^="form-responder-respuesta-"]');
    let botonesResponder = document.querySelectorAll('[id^="boton-responder-respuesta-"]');
    
    
    function hacerAlgo(idRespuesta){
        console.log(idRespuesta)
    
        let botonResponder = document.getElementById('boton-responder-respuesta-'+idRespuesta)
        let formContainer = document.getElementById('form-responder-respuesta-'+idRespuesta)
    
        formsResponder.forEach(form=>{
            form.classList.add('d-none');
        })
    
        botonesResponder.forEach(boton=>{
            boton.classList.remove('d-none');
        })
    
        botonResponder.classList.add('d-none');
        formContainer.classList.remove('d-none');
    }
    
    
    
</script>
  
<%- include('partials/_footer') %>