<%- include('partials/_header') %>

<div class="contenedor">
    <div class="sidebar">
        
    </div>

    <div class="main">
        <div class="content-container">
          <div class="pregsheader">
            <h5>Preguntas:</h5>
          </div>
            <br>
            <% preguntas.forEach(function(preg){ %>
                <div class="card preg_box mb-3">
                    <div class="card-body">
                      <a class="link-primary text-decoration-none" href="/preguntas/mostrar/<%= preg.id %>"><%= preg.titulo %></a>
                      <p class="card-text preg_desc"><%= preg.descripcion %></p>
                    </div>
                  </div>
            <% }); %>
            <br>
        </div>
    </div>
</div>
     
<%- include('partials/_footer') %>