<%- include('partials/_header') %>
        
<link rel="stylesheet" href="/stylescrearPregunta.css">  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<div class="contenedor">

    <%- include('partials/_sidebar') %>

    <div class="main">
        <div class="content-container">

            <div class="crearPregunta-container">
                <div class="crearPregunta">
                    
                  
                    <form method="GET" action="/preguntas/busqueda-por-etiquetas">
                     
                            <div class="inputs">
                                <p>
                                    <label for="bus">Término de búsqueda</label>
                                    <input class="form-control" name="bus" required maxlength="100">
                                </p>

                                <p>
                                    <label for="respuesta">Etiquetas (se pueden seleccionar varias con Ctrl)</label>
                                    <select class="js-example-basic-multiple" name="etiquetas" multiple="multiple" required style="width: 100%">
                                        <% etiquetas.forEach(function(etiqueta){ %>
                                            <option value="<%= etiqueta.id %>"><%= etiqueta.nombre %></option>
                                        <% }); %>
                                    </select>
                                </p>

                                <p>
                                    <button type="submit" class="btn btn-primary">Buscar</button>
                                </p>
                            </div>

                            <% if(typeof error !== 'undefined' && error) { %>
                                <div class="alert alert-danger mb-3" role="alert">
                                    <%= error %>
                                </div>
                            <% } %>
                    </form>
        
                </div>
            </div>
                
           
    
        </div>
    </div>
</div>

<script>
    
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2({
            theme: "classic"
        });
    });

</script>
    
<%- include('partials/_footer') %>