<%- include('partials/_header') %>

<div class="contenedor">
    <div class="sidebar">
        
    </div>

    <div class="main">
        <div class="content-container">
          <div class="pregsheader">
            <h5>Preguntas:</h5>
          </div>
            <br>
            <% if(preguntas.length == 0) { %>
              <h6>Lo siento, no se han encontrado preguntas...</h6>
            <% } %>
            <% preguntas.forEach(function(preg){ %>
                <div class="card preg_box mb-3">
                    <div class="card">
                      <a class="card-header text-decoration-none" href="/preguntas/mostrar/<%= preg.id %>"><%= preg.titulo %></a>
                      <div class="card-body">
                        <p class="card-text"><%= preg.descripcion %></p>
                        <div class="tagsynombrecontainer">
                          <div>
                            <% preg.etiquetas.forEach(function(etiqueta){ %>
                              <span class="badge bg-secondary"><%= etiqueta %></span>
                            <% }); %>
                          </div>
                          <div>
                            <span class="usernamelink"><img class="user_img" src="/user_icon.png"><%= preg.correo %></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
            <% }); %>
            <br>
        </div>
    </div>
</div>
     
<%- include('partials/_footer') %>