<%- include('partials/_header') %>


<div class="contenedor">
    <div class="sidebar">
        
    </div>

    <div class="main">
        <div class="content-container">

          <div class="botones-filtros-container">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                
              <% if(query.respondidas) { %>

                <% if(query.respondidas == "false") { %>
                  <a class="btn btn-primary">No respondidas</a>
                <% } else { %>
                  <a onClick="setFiltroRespondidasFalse()" class="btn btn-outline-primary">No respondidas</a>
                <% } %>

                <% if(query.respondidas == "true") { %>
                  <a class="btn btn-primary">Respondidas</a>
                <% } else { %>
                  <a onClick="setFiltroRespondidasTrue()" class="btn btn-outline-primary">Respondidas</a>
                <% } %>

                <a onClick="eliminarFiltroDeRespondidas()" class="btn btn-outline-primary"><button type="button" class="btn-close" aria-label="Close"></button></a>
              
              <% } else { %>
                <a href="<%= currentPage%>respondidas=false" class="btn btn-outline-primary">No respondidas</a>
                <a href="<%= currentPage%>respondidas=true" class="btn btn-outline-primary">Respondidas</a>
              <% } %>
                
            </div>
          </div>

          <div class="pregsheader">
            <h5>Resultados:</h5>
          </div>
            <br>
            <% if(preguntas.length == 0) { %>
              <h6>Lo siento, no se han encontrado preguntas...</h6>
            <% } %>
            <% preguntas.forEach(function(preg){ %>
                <div class="card preg_box mb-3">
                    <div class="card">
                      <a class="card-header text-decoration-none" href="/preguntas/mostrar/<%= preg.id %>"><%= preg.titulo %></a>
                      <div class="card-body">
                        <p class="card-text preg_desc"><%= preg.descripcion %></p>
                        <div class="tagsynombrecontainer">
                          <div>
                            <% preg.etiquetas.forEach(function(etiqueta){ %>
                              <span class="badge bg-secondary"><%= etiqueta %></span>
                            <% }); %>
                          </div>
                          <div>
                            <span class="usernamelink"><img class="user_img" src="/user_icon.png"><%= preg.correo %></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
            <% }); %>
            <br>
            <%- include('partials/_pagination') %>
        </div>
    </div>
</div>


<script>


function eliminarFiltroDeRespondidas(){
  window.location.href = removeUrlParameter(window.location.href, "respondidas");
}

function setFiltroRespondidasTrue(){
  window.location.href = window.location.href.replace('respondidas=false', 'respondidas=true');
}

function setFiltroRespondidasFalse(){
  window.location.href = window.location.href.replace('respondidas=true', 'respondidas=false');
}


// esta funcion me la copie de Stack Overflow jeje
// es para borrar un parametro del url
function removeUrlParameter(url, parameter) {
  var urlParts = url.split('?');

  if (urlParts.length >= 2) {
    // Get first part, and remove from array
    var urlBase = urlParts.shift();

    // Join it back up
    var queryString = urlParts.join('?');

    var prefix = encodeURIComponent(parameter) + '=';
    var parts = queryString.split(/[&;]/g);

    // Reverse iteration as may be destructive
    for (var i = parts.length; i-- > 0; ) {
      // Idiom for string.startsWith
      if (parts[i].lastIndexOf(prefix, 0) !== -1) {
          parts.splice(i, 1);
      }
    }

    url = urlBase + '?' + parts.join('&');
  }

  return url;
}


</script>
     
<%- include('partials/_footer') %>