<%- include('partials/_header') %>
        
<link rel="stylesheet" href="/stylescrearPregunta.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<div class="contenedor">

    <%- include('partials/_sidebar') %>

    <div class="main">
        <div class="content-container">

            <div class="crearPregunta-container">
                <div class="crearPregunta">
                    
                    <h5>Editar Pregunta:</h5>
                    <br>
                    <!-- Juntar con Back-End -->
                    <form method="POST" action="/preguntas/<%= pregunta.id %>/actualizar" enctype="multipart/form-data">
                     
                            <div class="inputs">
                                <p>
                                    <!-- <h2>Introduce un titulo</h2> -->
                                    <label for="respuesta">Editar titulo</label>
                                    <input class="form-control me-2" name="titulo" required maxlength="100" value="<%= pregunta.titulo %>">
                                </p>
                                <p>
                                    <!-- <h2>Escribe tu Pregunta</h2> -->
                                    <label for="respuesta">Editar tu Pregunta:</label>
                                    <div>
                                        <button id="codeButton" type="button" class="btn btn-primary btn-sm">Code</button>
                                        <textarea id="txtArea" class="form-control cuadro" name="descripcion" required maxlength="20000" ><%= pregunta.descripcion %></textarea>
                                    </div>
                                </p>
                                <p>
                                    <!-- <h2>Etiquetas (se pueden seleccionar varias con Ctrl)</h2> -->
                                    <label for="respuesta">Etiquetas (5 max)</label>
                                    <select class="js-example-basic-multiple" name="etiquetas" multiple="multiple" required style="width: 100%">
                                        <% etiquetas.forEach(function(etiqueta){ %>
                                            <% if(pregunta.etiquetas.includes(etiqueta.nombre)){ %>
                                                <option value="<%= etiqueta.id %>" selected><%= etiqueta.nombre %></option>
                                            <% }else{ %>
                                                <option value="<%= etiqueta.id %>"><%= etiqueta.nombre %></option>
                                            <% } %>
                                        <% }); %>
                                    </select>

                                    <% if(pregunta.imagen != null) { %>
                                        <br>
                                        <h6>Imagen actual:</h6>
                                        <div class="imagen_atb">
                                        <img id="imgActual" src="data:image/png;base64,<%= pregunta.imagen %>" style="width: 100%; max-width: 700px;" alt="">
                                        <br>
                                        </div>
                                        <label id="label" for="borrarImagen">Borrar imagen actual: </label>
                                        <button type="button" class="btn btn-outline-primary" id="borrarButton" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-trash"></i></button>
                                        <input type="hidden" id="delImage" name="delImagen" value="false"/>
                                    <% } %>
                                </p>
                                <p>
                                    <label for="imageFile">Selecciona una imagen:</label>
                                    <input type="file" accept="image/*" name="imagen">
                                </p>
                                <p>
                                    <button type="submit" class="btn btn-primary">Editar</button>
                                </p>
                            </div>

                            <% if(typeof error !== 'undefined' && error) { %>
                                <div class="alert alert-danger mb-3" role="alert">
                                    <%= error %>
                                </div>
                            <% } %>
                    </form>
        
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2({
            theme: "classic"
        });
    });


    var borrarImg = document.getElementById("delImage");
    var borrarImgButton = document.getElementById("borrarButton");
    var imagenActual = document.getElementById("imgActual");
    var labelBorrar = document.getElementById("label");

    var codebutton = document.getElementById("codeButton");
    var txtArea = document.getElementById("txtArea");

    codebutton.onclick = () =>{
        const [start, end] = [txtArea.selectionStart, txtArea.selectionEnd];
        txtArea.setRangeText('\n-code-\n\n\-code-', start, end, 'select');
    }


    borrarImgButton.onclick = () => {
        if(borrarImg.value == "false"){
            borrarImg.value = "true";
            imagenActual.style.display = "none";
            labelBorrar.textContent = "Recuperar imagen actual: ";
        }else{
            borrarImg.value = "false";
            imagenActual.style.display = "block";
            labelBorrar.textContent = "Borrar imagen actual: ";
        }
    }

</script>
    
<%- include('partials/_footer') %>