<%- include('partials/_header') %>
        
<link rel="stylesheet" href="/stylescrearPregunta.css">
<div class="contenedor">

    <%- include('partials/_sidebar') %>

    <div class="main">
        <div class="content-container">

            <div id="editar-usuario" class="crearPregunta-container">

                <h2 style="margin-bottom: 1em;">Editar perfil</h2>

                <% if (typeof error !== 'undefined' && error) { %>
                    <div class="alert alert-danger mb-3" role="alert">
                        <%= error %>
                    </div>
                <% } else { %>

                    <div class="editar_profile_img">
                        <% if (usuario.imagen) { %>
                          <img src="data:image/png;base64,<%= usuario.imagen %>" width="100" height="100"/>
                        <% } else { %>
                          <i class='fas fa-user-circle' style='font-size:95px'></i>
                        <% } %>
                    </div>

                    <form method="POST" action="/usuarios/<%= usuario.correo %>/update" enctype="multipart/form-data">
                        <br>
                        <div class="mb-3">
                            <!-- <div class="avatar">
                                <img src="" alt="" width="100" height="100"/>
                            </div> -->
                            <label for="imagen" class="form-label">Editar foto de perfil:</label>
                            <input type="file" accept="image/*" name="imagen">
                        </div>
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input class="form-control" name="nombre" value="<%= usuario.nombre %>" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Correo</label>
                            <input class="form-control" disabled value="<%= usuario.correo %>">
                        </div>
                        <div class="mb-3">
                            <label for="bio" class="form-label">Bio</label>
                            <textarea class="form-control" name="bio" rows="3"><%= usuario.bio %></textarea>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Eliminar usuario
                            </button>
                        </div>

                        
                        
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </form>

                <% } %>


            </div>
    
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Advertencia</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Seguro de que quieres eliminar este usuario?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

          <form action="/usuarios/baja" method="POST">
              <button type="submit" class="btn btn-danger">Eliminar</button>
          </form>

        </div>
      </div>
    </div>
  </div>
    
<%- include('partials/_footer') %>