
<%- include('partials/_header') %>

<div class="contenedor">
    <div class="sidebar">
        
    </div>

    <div class="main">
        <div class="content-container">
            <h5>Preguntas mas recientes</h5>
            <br>
            <% preguntas.forEach(function(preg){ %>
                <div class="card preg_box">
                    <div class="card-body">
                      <a class="link-primary text-decoration-none" href="/preguntas/<%= preg.id %>/responder"><%= preg.titulo %></a>
                      <p class="card-text"><%= preg.descripcion %></p>
                      <div>
                        <% preg.etiquetas.forEach(function(etiqueta){ %>
                          <span class="badge bg-secondary"><%= etiqueta %></span>
                        <% }); %>
                        <span class="usernamelink"><img class="user_img" src="/user_icon.png"><%= preg.correo %></span>
                      </div>
                    </div>
                  </div>
            <% }); %>
            <br>
            <%- include('partials/_pagination') %>
        </div>
    </div>
</div>
     
<%- include('partials/_footer') %>