
<%- include('partials/_header') %>

<div class="contenedor">
    <div class="sidebar">
        
    </div>

    <div class="main">
        <div class="content-container">
            <h5>Preguntas mas recientes</h5>
            <br>
            <% preguntas.forEach(function(preg){ %>
                <div class="card">
                    <div class="card-body">
                      <a href="/" class="link-primary"><%= preg.titulo %></a>
                      <p class="card-text"><%= preg.descripcion %></p>
                      <% preg.etiquetas.forEach(function(etiqueta){ %>
                        <span class="badge bg-secondary"><%= etiqueta %></span>
                      <% }); %>
                      <span class="usernamelink"><%= preg.correo %></span>
                    </div>
                  </div>
            <% }); %>
        </div>
    </div>
</div>
     
<%- include('partials/_footer') %>