
<%- include('partials/_header') %>

<div class="contenedor">
    <div class="sidebar">
        
    </div>

    <div class="main">
        <div class="content-container">

            <h2><%= pregunta.titulo %></h2>
            <hr>

            <form method="POST" action="/preguntas/<%= pregunta.id %>/responder">

                <div class="form-group mb-3">
                    <label for="respuesta">Respuesta</label>
                    <textarea class="form-control" name="respuesta" rows="3"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <hr>

            <% respuestas.forEach(function(respuesta){ %>

                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa-solid fa-user"></i> <%= respuesta.correo %>
                    </div>
                    <div class="card-body">
                      <p class="card-text"><%= respuesta.descripcion %></p>
                    </div>
                </div>
                
            <% }); %>

        </div>
    </div>
</div>
     
<%- include('partials/_footer') %>