
<nav aria-label="...">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="/<%= pag-1 %>">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="/<%= pag-1 %>"><%= pag-1%></a></li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="<%= pag %>"><%= pag %></a>
      </li>
      <li class="page-item"><a class="page-link" href="/<%= pag+1 %>"><%= pag+1 %></a></li>
      <li class="page-item">
        <a class="page-link" href="/<%= pag+1 %>">Next</a>
      </li>
    </ul>
  </nav>